body {
    font: 26px Quicksand;
    line-height: 1.8;
    color: #f5f6f7;
}

.bg-1 { 
    background-color: rgb(0, 255, 179); /* Green */
    color: rgba(0, 0, 0, 0.8);
    
}
.bg-2 { 
    background-color: #455A64; /* Dark Blue */
    color: #ffffffaf;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

p {
  font-size: 2rem;
  font-weight: 800;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.navbar-brand:hover {
    font-weight: 900!important;
    cursor: pointer;
}

li a {
    font-weight: 500;
}

.margin {
  margin-bottom: 5rem;
}

h3 {
  font-size: 3rem;
  font-weight: 900;
}

#greeting-p {
    font-size: 5rem;
}

/* h3 after img */
img + h3 {
    font-size: 2.5rem;
}

/* img after h3 */
h3 + img {
    object-fit: cover;
}

.navbar-header {
    font-weight: 600;
}

#projects-div {
    background-color: #f4f4f4
}

#projects-div img {
    height: 24rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.col-sm-4 div {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px #bdbdbd;
    cursor: pointer;
}

.col-sm-4 div:hover {
    box-shadow: 4px 4px 4px #bdbdbd;
}

#last-cell {
    padding-top: 16rem;
    cursor: pointer;
}

footer a {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff
}

footer a i {
    font-weight: normal;
}