body {
    font: 26px Quicksand;
    line-height: 1.8;
    color: #f5f6f7;
}

.bg-1 { 
    background-color: rgb(0, 255, 179); /* Green */
    color: rgba(0, 0, 0, 0.8);
    
}
.bg-2 { 
    background-color: #455A64; /* Dark Blue */
    color: #ffffffaf;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.bg-5 { 
    background-color: rgb(161, 76, 241); /* Dark Blue */
    color: #ffffffaf;
}

p {
  font-size: 2rem;
  font-weight: 800;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    height: 12vh;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.navbar-header {
    font-weight: 600;
}

.navbar-nav  li a:hover {
    background-color: rgb(0, 255, 179)!important;
    /* color: #f1fffc !important; */
}

.navbar-brand:hover {
    font-weight: 900!important;
    cursor: pointer;
}

li a {
    font-weight: 500;
}

.margin {
  margin-bottom: 5rem;
}

h3 {
  font-size: 3rem;
  font-weight: 900;
}

/* GREETING CONTAINER */

@keyframes myfirst {
    0%   { color:transparent ;left: 0px; top: 50px;}
    100%  { left: 0px; top: 0px;}
}
#greeting-div {
    height: 88vh;
}

#greeting-content {
    position: relative;
    animation: myfirst 1.5s;
   
}

#greeting-p {
   
    font-size: 5rem;
    align-content: center;
    padding: 4rem;
}

#intro-div {
    padding: 0 4rem 4rem 8rem!important;
}

#profile-img {
    padding: 1rem;
    border-radius: 50%;
    object-fit: cover;
    float: right;
}

#intro {
    display: inline;
    padding: 0.5rem;
    background-color: rgba(233, 255, 248, 0.8);
    border-bottom: 2px solid rgb(36, 184, 134);
}

#projects-div {
    background-color: #f4f4f4
}

#projects-div img {
    height: 24rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.col-sm-4 div {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px #bdbdbd;
    cursor: pointer;
}

.col-sm-4 div:hover {
    box-shadow: 4px 4px 4px #bdbdbd;
}

#last-cell {
    padding-top: 16rem;
    cursor: pointer;
}

/* NEW CELL */
#cells {
    
    padding: 0 2.5rem;
}

.cell {
    height: 70vh;
    overflow: hidden;
    margin: 1.5rem 0.5rem;
    padding: 2.5rem;
    background-color: white;
    box-shadow: 2px 2px 2px #bdbdbd;
    cursor: pointer;
}

.cell:hover {
    box-shadow: 4px 4px 4px #bdbdbd;
}

.cell-img {
    width: 100%;
    height: 40vh!important;
}

.float-left {
    float: left;
}

.pj-name {
    background-color: transparent;
    color: black;
    font-size: xx-large;
    font-weight: 600;
}

/* BADGE */
.pj-badge {
    font-size: 2rem;
    color: orangered;
    background-color: rgba(255, 166, 0, 0.2);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 1rem 0;
}
.pj-badge:hover {
    background-color: rgba(202, 131, 0, 0.2);
}

.pj-site {
    font-size: 2rem;
    color: blueviolet;
    background-color: rgba(212, 166, 255, 0.2);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 1rem 0;
    border-radius: 0;
    border-bottom: 2px solid blueviolet;
}
.pj-site:hover {
    color: blueviolet!important;
    background-color: rgba(198, 211, 221, 0.5);
}


footer a {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff
}

footer a i {
    font-weight: normal;
}