#topbar{
  padding: 0 5rem 0 10rem;
  height: 4rem;
  background: black;
  font-size: 18px; 
}

#topbar-ic-img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.8em;
}

#sidebar-div {
  position: sticky;
  height: 100%;
  padding: 1rem 6rem 0 10rem;
  font-weight: 500;
}

#sidebar-div ul h6 {
  font-size: smaller;
  padding: 2rem 0 0.6rem 0;
}

#main-div {
  padding: 0 6rem 0 6rem;
}

html, body{
  height: 100%;
}

main div h5 {
  margin: 0 0 1.5rem 0;
}

div p {
  margin: 0 0 5rem 1rem;
  line-height: 2rem;
  font-size: 0.9rem;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container-fluid, .container-fluid .row, .navbar {
  height: 100%;
}

#sidebar-div ul li a{
  color: black;
  opacity: 0.8;
  font-size: 0.8em;
}

#sidebar-div ul li{
  margin: 0 0 0.8rem 0;
}

div {
  display: block;
}
