#profile_img {
  margin: 320dp;
}

#content {
  margin: 0 auto;
  display: block;
}

body {
  background: #263238;
  margin-top: 2.0em;
  color: #ECEFF1;
}


h1 {
  color: white;
}

img {
  margin-top: 2.0em;
  margin-bottom: 3.0em;
}

a {
  color: #ECEFF1;
  font-size: 1.0em;
}

#bio {
  color: #B0BEC5;
}
